#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again. 
		%button= link_to "Sign Up", new_user_registration_path
		
#testimonial
	.wrapper 
		%p.quote "Boy, I'm very happy with this tutorial on Rails."
		%p.name - Katherine Worley