#banner
	.banner_content
		%h1 The Book of Notes 
		%p Your online notebook. Never forget an idea again. 
		%button= link_to "Sign Up", new_user_registration_path
		
#testimonial
	.wrapper 
		%p.quote "Boy, I'm very happy with this tutorial on Rails."
		%p.name - Katherine Worley

#callouts 
	.callout_inner
		.wrapper 
			.callout 
				%h2 First Note
				%p This is some notes right here. What a great note. Wow, can you see how great this note is going to be? 
			.callout 
				%h2 Second Note
				%p This is some notes right here. What a great note. Wow, can you see how great this note is going to be? 
			.callout 
				%h2 Third Note
				%p This is some notes right here. What a great note. Wow, can you see how great this note is going to be? 